body{
    display: flex;
    justify-content: center;
    align-items: center;
margin: 0;
padding: 0;
height:100vh;
background-image: url(https://onplanners.com/sites/default/files/styles/template_fancy/public/review/do-list-templates_1.png);
background-size: cover;
}

h1{
    text-decoration: underline;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    box-shadow: 3px 3px 10px rgba(54, 6, 245, 0.15);
    /* border-top: 5px solid #009578;
    border-bottom: 5px solid #009578; */
     border: 5px solid#0b0d0d;
     transition:all 1s linear;
     position: relative;
     top: 100px;
     animation: slidein 1s forwards;
    
    
}

.todo-container:hover{
    transform: scale(1.2);
    /* transform: skew(10deg); */

}


.todo-items {
    display: flex;
    justify-content: center;
    padding: 1em;

}

.todo-value {
    background: transparent;
    border: none;
    /*border wil remove around texr */
    outline: none;
    font-size: 1em;
    font-family: quicksand;
    font-weight: bold;
    flex-grow: 1;
}

/* to clear after completion of task
*/
.todo-items:has(.todo-checkbox:checked){
  color: #080812;
  background-color: whitesmoke;
  text-decoration:line-through; /*cut after completion */
/* order:1; */
}